<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Monitoring notification</h1>
<p>
  <%= @event.site.url %>
</p>
<p>
  <%= @event.created_at %>
</p>
<p>
  <%= @event.code %>
</p>
<p>
  <%= @event.message %>
</p>
</body>
</html>